.project__wrapper {
    .container();
    position: relative;
    padding-top: 40px;
    padding-bottom: 220px;
    border-bottom: 1px solid @white;
}
.project__upper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 247px;

    .decorwrite__title {
        .title-reset();
        font-family:@bebasNeue;
        font-size: 190px;
        font-style: normal;
        font-weight: 700;
        line-height: 190px;
        letter-spacing: 0em;
        text-align: left;
        /*text-transform: uppercase;*/
    }

    .btn__previous {
        .btn-reset();
        height: 85px;
        width: 85px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        color:#FFFFFF;
        margin-left: 180px;
    }
    
    .btn__next {
        .btn-reset();
        height: 85px;
        width: 85px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        color:#FFFFFF;
    }

}

.project_lower {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

   
}