.review__wrapper {
    .container();
    display: flex-box;
    vertical-align: center;
    padding-top: 40px;
    padding-bottom: 220px;
    border-bottom: 1px solid @white;
}

.review_title {
    .title-reset();
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    height: 36px;
    width: 214px;
}

.gallery {
    .list-reset();
    position: relative;
    display: flex;

}

.gallery__item {
    padding-left: 30px;
    padding-right: 30px;
}




