.specialization__wrapper {
    .container();
    position: relative;
    padding-top: 106px;
    padding-bottom: 220px;
    border-bottom: 1px solid @white;
}

.specialization__wrapper .slider {
    .list-reset();
    
}