.specialization__wrapper {
    .container();
    position: relative;
    padding-top: 106px;
    padding-bottom: 220px;
    border-bottom: 1px solid @white;
}

.specialization__wrapper .slider {
    .list-reset();
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 185px;
    left: 785px;
    
}

.specialization__title {
    position: absolute;
    top: 50px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;

}

.slider__paragraph {
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: @white;
}

.slider__paragraph::before {
    position: absolute;
    content: " ";
    height: 1px;
    width: 615px;
    top: 15px;
    left: 785px;
    color: #83C1FA;
}

.slider__paragraph--active {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #83C1FA;

}


.slider__btn {
    .btn-reset();
    position: absolute;
    left: 268px;


}